name: Build, Lint and Test
on:
    push:
    pull_request:
jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                node-version: [12.x, 14.x, 15.x]

        runs-on: [self-hosted, linux]
        name: Build with Node.js ${{ matrix.node-version }}
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Use Node.js version ${{ matrix.node-version }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Waf Configure
              run: python3 waf configure
            - name: Waf Build, Lint and Test
              run: python3 waf --run_tests




